/* カスタマイズ用CSS */

/* lineとyahooのボタン調整
Firebaseに合わせる
 */

.social-login {
    width: 100%;
    padding: 0 24px;
    margin: 1em 0;
}


.line-login {
    margin-bottom: 15px;
    list-style-type: none;
}

.btn-social{
    direction: ltr;
    font-weight: 500;
    height: auto;
    line-height: normal;
    max-width: 220px;
    min-height: 40px;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
}

.social-idp-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    
}


.social-idp-text {
    color: #fff;
    font-size: 14px;
    padding-left: 16px;
    text-transform: none;
    vertical-align: middle;
    
}


.social-container {
    font: 16px Roboto,arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    font-family: Roboto, arial, sans-serif;
    text-align:center;
    
}

.social-idp-button{
    direction: ltr;
    font-weight: 500;
    height: 48px;
    line-height: normal;
    max-width: 220px;
    min-height: 40px;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
    border-style: none;
}

.social-idp-line>.social-idp-text {
    color: #FFFFFF;
}

.social-idp-yahoo>.social-idp-text {
    color: #757575;
}

.social-idp-icon-wrapper{
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.social-idp-text.social-idp-text-long {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;   
}

.social-idp-text.social-idp-text-short {
    display: none;
}


.mdl-button--raised {
    background: rgba(158,158,158, 0.20);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.mdl-button {
    /* background: transparent; */
    border: none;  
    border-radius: 0px;
    color: rgb(0,0,0);
    position: relative;
    /* height: 36px; */
    margin: 0;
    min-width: 64px;
    /* padding: 0 16px; */
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    /* font-weight: 500; */
    text-transform: uppercase;
    /* line-height: 1; */
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(0.4, 0, 1, 1),background-color .2s cubic-bezier(0.4, 0, 0.2, 1),color .2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    /* text-align: center; */
    /* line-height: 36px; */
    vertical-align: middle;
}

@media (max-width:268px) { 
    span.social-idp-text.social-idp-text-long {        
        display: none;
    }
    
    span.social-idp-text.social-idp-text-short {
        display: table-cell;
        margin-left: auto;
        margin-right: auto;
    }
    
}